<!doctype html>
<html>
	<head>
		<%- include('partials/head'); %>
	</head>
	<body>
		<%- include('partials/page-header'); %>

    <div class="jumbotron">
      <h1>Welcome to the Sun Shades Store</h1>
      <p class="lead">
        To view your exclusive Sun Shades product list and prices please login.
      </p>
    </div>

		<%- include('partials/footer'); %>
	</body>
</html>
